body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.visually-hidden {
    margin: -1px;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

    .section-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
    }


/*-------HEADER-------*/

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.header-logo-blue {
    font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
}

.header-menu-link {
    font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.header-menu-link:hover{
    color:#404BBF;
}

.header-menu-link:focus{
    color: #404bbf; 
}

.header-address{
    font-style: normal;
}

.header-contacts-link {
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}

.header-contacts-link:hover{
    color:#404bbf;
}

.header-contacts-link:focus{
    color: #404bbf; 
}

/*-------ORDER-------*/

.order {
    background-color: #2e2f42;
}

.order-title {
    font-weight: 700;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.order-btn {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4D5AE5;
        cursor: pointer;
}

.order-btn:hover{
    background-color: #404BBF;
}

.order-btn:focus{
    background-color: #404BBF;
}

/*-------ADVATAGES-------*/

.advatages {}

.visually-hidden {}

.advatages-list {}

.advatages-item {}

.advatages-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.advatages-description {
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}

/*-------TEAM-------*/

.team{
    background-color:#f4f4fd;
}

.team-title {
    text-transform: capitalize;
}

.team-list {}

.team-item {
    background-color: #FFFFFF;
}

.team-item-image {}

.team-image-title {
font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-image-profession {
    font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

/*-------OUR PORTFOLIO-------*/

.portfolio {}

.portfolio-title {
text-transform: capitalize;
}

.portfolio-list {}

.portfolio-item {}

.portfolio-item-image {}

.portfolio-image-title {
font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-image-text {
    font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}

/*-------FOOTER------*/

.footer {
    background-color: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.footer-logo-white {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}